@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

/* Landing Page Style */
.container-landing {
  background: linear-gradient(0deg, transparent, rgba(9, 10, 10, 0.605)),
    url("/img2.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-weight: bold;
}
.container-landing::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.container-landing * {
  z-index: 10;
}
.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  min-height: 70vh;
  color: #fff;
}
.intro-container h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.btn {
  color: #fff !important;
  background-color: orange !important;
  width: 200px;
}
/* End of Landing Page Style */

/* Header Style */
.header {
  margin: 10px 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.header h1 {
  color: orange;
  font-weight: bold;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header ul li {
  padding-left: 2rem;
}
.header ul li:hover {
  color: aqua;
  cursor: pointer;
}
/* End of Header Style */
/* Solution Style*/
.solution-info {
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
}
.solution-container p, .solution-container h1{
  color: black;
  font-weight: bold;
}
.solution-info p{
  width: 400px;
}
/* End of Solution Style */
/*Resposive Design*/
@media (max-width: 700px) {
  .header {
    margin: 10px 0.5rem;
  }
  .header h1 {
    font-size: 20px;
  }
  .intro-container h1 {
    font-size: 20px;
  }
  .solution-info {
    flex-direction: column;
  }
  .info{
    margin-top: 10px;
  }
  .solution-info p{
    width: 300px;
  }
}
@media (max-width: 400px) {
  .header {
    margin: 10px 0.5rem;
  }
  .header h1 {
    font-size: 16px;
  }
  .header ul li{
    padding-left: 1rem;
    transform: translateY(1px);

  }
}
